/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.file-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.leaderboard-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

label, select {
  display: block;
  margin-bottom: 10px;
}

select {
  padding: 5px;
}

.item {
  display: inline-block;
  width: 20%;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 15px; /* Adjust padding to make it smaller */
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px; /* Adjust font size */
  border-radius: 5px; /* Make it more squarish */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.delete-button:hover {
  background-color: darkred;
  transform: scale(1.05);
}

.upload-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 8px 15px; /* Adjust padding to make it smaller */
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px; /* Adjust font size */
  border-radius: 5px; /* Make it more squarish */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.upload-button:hover {
  background-color: darkblue;
  transform: scale(1.05);
}

/* Display buttons inline */
.button-container {
  display: flex;
  align-items: center;
}

/* Add some spacing between the buttons */
.delete-button + .delete-button {
  margin-left: 10px; /* Adjust as needed */
}
/* Add some spacing between the buttons */
.upload-button + .upload-button {
  margin-left: 10px; /* Adjust as needed */
}