/* CSS specific to the maps page goes here */
#map {
  width: 100%;
  height: 400px; /* Set the desired height for your map */
  border: 1px solid #ccc;
  border-radius: 28px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

/* Styling for icons */
.icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

.leaflet-popup-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-popup-content h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.leaflet-popup-tip-container {
  display: none; /* Hide the default tip */
}

/* Style for the buttons */
.leaflet-popup-content .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.leaflet-popup-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.leaflet-popup-content button:hover {
  background-color: #0056b3;
}

/* Display προσφορές */
.popup-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* search box */
#search-box {
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
  background-color: #f5f5f5;
}

#search-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

#search-btn:hover {
  background-color: #0056b3;
}

.header-left {
  display: flex;
  align-items: center;
  padding: 10px 20px; /* Adjust as needed */
}

.home-icon {
  margin-right: 10px;
}

.header-text {
  margin-left: 10px;
}

/* Center the header text vertically */
.header-text h1 {
  line-height: 1.2;
}

/* Add space between search and map */
.space {
  margin-bottom: 20px; /* Adjust this value as needed */
}

.clickable-btn.logged-out {
  background-color: gray;
  cursor: not-allowed;
}

/* Style for the button */
.popup-item-container .delete-discount-button {
  background-color: red;
  color: white;
  border: none;

  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

/* On hover effect */
.popup-item-container .delete-discount-button:hover {
  background-color: darkred;
}

/* Style for the discount popup */
.popup-title {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-item-container {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.popup-item-container:first-child {
  border-top: none;
}

.popup-item-container:last-child {
  border-bottom: 1px solid #ccc;
}

.popup-item-container:hover {
  background-color: #f5f5f5;
}

.popup-item-container button {
  border: none;
  background-color: transparent;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin-top: 5px;
}

.button-container {
  margin-top: 15px;
}

/* Styling for icons */
.icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

/* Style for the assessment button */
#assessment-button {
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
}

#assessment-button:hover {
  background-color: #0056b3;
}

#assessment-button.logged-out {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Style for the delete button */
.delete-discount-button {
  color: #dc3545;
  cursor: pointer;
  font-size: 12px;
  padding: 0;
  margin-top: 5px;
  background: none;
  border: none;
}

/* scrollable list */
.popup-item-scroll-list {
  max-height: 200px; /* Set the desired max height for the scrollable list */
  overflow-y: auto;
  margin-bottom: 10px; /* Add some bottom margin for spacing */
  padding-right: 28px;
}

