/* CSS specific to the maps page goes here */
#map {
  width: 100%;
  height: 700px; /* Set the desired height for your map */
  border: 1px solid #ccc;
  border-radius: 15px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ebf4ff;  /* light blue color for scroll down default */
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

/* Styling for icons */
.icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
}


.leaflet-popup-content {
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #4b98eb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 300px; /* Set a maximum width for the popup */
  padding: 15px; /* Add some padding to shift content to the right */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px; /* Adjust as needed */
}

/* Style for popup letters */
.leaflet-popup-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

/*style for the delete button*/
.leaflet-popup-content .delete-discount-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* On hover effect */
.popup-item-container .delete-discount-button:hover {
  background-color: rgb(169, 169, 169);
}

/* Style for delete button */
.delete-discount-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.leaflet-popup-content button {
  display: inline;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
  text-align: center; /* Center-align text */
}

/* Style for out-of-stock items */
.popup-item-container.out-of-stock {
  opacity: 0.3; /* Adjust the opacity value as needed */

}

/* Hover effect for buttons */
.leaflet-popup-content button:hover {
  background-color: #0056b3;
}

/* pulse animation for the userlocationmarker */
@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Style for the user location marker */
.user-location-marker {
  height: 20px;
  width: 20px;
  background-color: #007bff;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
  z-index: 1000;
}

/* Αξιολόγηση Προσφοράς */
.assessment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Add margin to position the button below the list */
}

/* search box */
#search-box {
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 320px;
  font-size: 16px;
  background-color: #fff;
}

/* Style for the magnifying glass icon */
.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333; /* Change the color as needed */
  /* remove the hover effect */

}

/* Style for the search input container */
.search-container {
  position: relative;
}

/* Add space between search and map */
.space {
  margin-bottom: 20px; /* Adjust this value as needed */
}

.clickable-btn.logged-out {
  background-color: gray;
  cursor: not-allowed;
}


/* discount popup */
/* Λίστα προσφορών! */
.popup-title {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for the item container */
.popup-item-container.discount-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: block;
  align-items: flex-start;
}

.button-container {
  margin-top: 15px;
}

/* Styling for icons */
.icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;

}

#assessment-button:hover {
  background-color: #0056b3;
}

/* hover αξιολόγηση logged out */
#assessment-button.logged-out {
  background-color: #ccc;
  cursor: not-allowed;
}

/* hover υποβοβλή logged out */
#submit-discount-button.clickable-btn.logged-out {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Style for the scrollable list */
.popup-item-scroll-list {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding-right: 10px; /* Add some right padding for better alignment */
  border: 1px solid #ccc; /* Add a border for separation */
  border-radius: 5px; /* Rounded corners for the list */
  background-color: #f9f9f9; /* Light background color */
}

/* Style for individual list items */
.popup-item-container {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Add a border between items */
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for list items */
.popup-item-container:hover {
  background-color: #e6e6e6; /* Change background color on hover */
}

/* Style for price */
.price {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Style for stock status */
.stock-status {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Style for date */
.date {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}


/* Style for likes and dislikes */
.likes {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: green;
}

/* Style for likes and dislikes */
.dislikes {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
}

/* Style for achievements */
.achievement {
  margin-top: 5px;
}

/* Container for enumeration and product name */
.enumeration-product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for enumeration */
.enumeration {
  font-size: 14px;
  margin-right: 10px; /* Adjust the spacing between enumeration and title */
}
/* Style for product name */
.product-name {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

/* Container for likes, dislikes, and delete button */
.likes-dislikes-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----------------------------------------------- */

/* CSS to style the scale control */

/* Add this new style for positioning the space element */
section {
  padding: 10px 20px; 
  display: flex;
  align-items: center;
}

.space {
  flex-grow: 1; /* This will make the space element take up the remaining space on the right */
}

/* slider-label visualization */
.slider-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;   /* contrast */
  font-size: 14px;
  padding-right: 10px;    /* right padding  */
}

.slider-label p {
  margin: 0;
}

.toggle-switch-scale {
  width: 300px; /* Adjust the width to your desired value */
  height: 24px;
  -webkit-appearance: none;
  appearance: none;
  background: #40e0d0;
  border-radius: 17px;
  outline: none;
  opacity: 1;
  transition: background 0.4s;
  cursor: pointer;
}

.toggle-switch-scale::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  background-color: white;
  border: 2px solid #40e0d0;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-switch-scale::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-switch-scale::-ms-thumb {
  width: 26px;
  height: 26px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-switch-scale:checked {
  background: red;
}

/* footer */
.sticky-footer {
  position: sticky;
  top: 100%;
}

/* smaller screen */

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  
  /* nav menu active appears over everything EXCEPT for the hamburger menu */
  .nav-menu.active{
    z-index: 10000;
  }

  /* Adjust the styles for smaller screens here */
  #map {
    height: 500px;
    width: 110%;
    margin-left: -5%;
  }

  body {
    font-size: 14px;
  }

  /* section adjustments so that the elements are displayed in a column */
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* search box with no padding on the left */
  #search-box {
    margin-left: 0;
    padding: 12px 0 12px 12px;
  }

  .category-container {
    /* top margin for the category container */
    margin-top: 10px;
    display: flex;
    width: 320px; /* same width as the search box */
  }

  /* Style for the category select */
  #search-type {
    margin-right: 10px; /* Add spacing between selects */
    margin-left: 0; /* no left margin */
    width: 150px; /* same width as the subcategory select */
  }

  /* Style for the subcategory select */
  #subcategory {
    margin-left: auto; /* push the select to the right */
  }

  /* smaller range slider */
  .toggle-switch-scale {
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  /* also center the range slider label */
  .slider-label {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  /* slightly thinner popup */
  .leaflet-popup-content {
    max-width: 250px;
  }

  /* slightly smaller font size for the popup */
  .leaflet-popup-content h2 {
    font-size: 18px;
  }

  /* slightly smaller font size for the popup */
  .leaflet-popup-content button {
    font-size: 12px;
  }
}
