/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-select, .container-results {
  max-width: 400px;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.container-results {
  margin-bottom: 50px;
}

.search {
  margin-top: 30px;
}

h3 {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-left: 10px ;
}

select {
  padding: 5px;
  display: block;
  margin: 3px 0 10px 10px;
}

input{
  width: 185px;
}