/* global style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .4px;
}

/* hamburger menu appears over everything */
.hamburger{
  padding: 10px 15px; /* Add some padding around the bars */
  display: none;
  cursor: pointer;
}

/* nav menu active appears over everything EXCEPT for the hamburger menu */
.nav-menu.active{
  z-index: 1;
}

/* hamburger menu active appears over everything EXCEPT for the nav menu */

.hamburger.active{
  z-index: 2;
}



/* hamburger bars */
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0e3dc0;
}


/* Header styles */
header {
  background-color: #ebf4ff;
  color: #fff;
  padding: px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

/* Log Out styling */
#logoutBtn a {
  border: 1px solid #FF6666; /* Light red border */
  padding: 5px 15px; /* Adjust padding as needed */
  border-radius: 4px; /* Rounded corners */
  color: white; /* White text color */
  background-color: #FF6666; /* Light red background */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

#logoutBtn a:hover {
  background-color: transparent; /* Change background on hover */
  color: #FF6666; /* Change text color on hover */
}

/* search container */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 0; /* Remove margin at the bottom */
  justify-content: center; /* Center items horizontally */
  text-align: left; /* Center text within the container */
}

/* Style for the search image */
.search-image {
  padding: 20px;
  display: flex;
}

/* Style for the search text container */
.search-text {
  padding: 2px;
  display: flex;
  flex-direction: column;
}

/* Style for the search title */
.search-title {
  font-size: 24px;
  font-weight: bold;
  color: #0e3dc0; /* Adjust the color as needed */
  margin: 0; /* Remove margin to center vertically */
}


/* Style for the search subtitle */
.search-subtitle {
  font-size: 18px;
  color: #6886ff; /* Adjust the color as needed */
}

/* Navigation styles */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Center the categories horizontally */
  align-items: center; /* Center the categories vertically */
}

nav ul li {
  margin: 0 15px;
  padding: 10px 0; /* Add some padding at the top and bottom */
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #0e3dc0;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s, text-decoration 0.3s;
}

nav ul li a:hover {
  color: #ddd;
}

/* Apply styles to the active link */
nav ul li a.active {
  text-decoration: underline;
  background-color: lightblue;
}

/* Main content container */
main {
  margin: 20px;
}


/* Heading styles */
h1, h2 {
  text-align: left;
}

/* Styles for the Maps page */
body.maps-page {
  background-color: #f0f0f0; /* Custom background color for the maps page */
}

header.maps-page {
  background-color: #555; /* Custom header background color for the maps page */
}

nav.maps-page ul li a {
  color: #fff; /* Custom link color for the maps page */
}

/* Styles for the search form */
#searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: rgba(255, 255, 255, 0.1); /* Glassy background */
}

#searchInput {
  padding: 10px;
  border: none;
  border-radius: 20px; /* Make it slightly circular */
  width: 200px; /* Make the input narrower */
  font-size: 14px; /* Smaller font size */
  background: rgba(255, 255, 255, 0.5); /* Slightly transparent background */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); /* Shadow for a glassy effect */
  color: #333;
  outline: none; /* Remove default outline */
}

#searchInput::placeholder {
  color: #555; /* Placeholder text color */
}

/* Loading spinner styles */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

/* Background image for the entire body */
body {
  background-image: url('images/e-katanalotis_background.png');
  background-size: 100% auto; /* Width: 100% of the content area, Height: auto */
  background-repeat: no-repeat;
  background-color: #ebf4ff;  /* light blue color for scroll down default */
  min-height: 100vh; /* Set a minimum height */
}

.header-left {
  display: flex;
  align-items: center;
}

.home-icon {
  padding: 40%;
  margin-right: 30px;
}

.header-text {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-text h1 {
  margin: 0;
  font-size: inherit;
  margin-left: 5px; /* Add some spacing between the image and text */
  color: lightblue; /* Set the color to blue */
  text-decoration: none; /* Remove underline from the link */
}

a {
  text-decoration: none;
  color: #1234bc;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:link, a:visited {
  text-decoration: none;
}


/* Media query for smaller screens */
@media (max-width: 768px) {

  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position:fixed;
    right: -100%; /* appear from the right */
    top: 70;
    gap: 0px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    text-decoration-color: #0e3dc0;
    font-weight: bold; /* make the letters bold */
    /* appears right under the header */
    margin-top: 60px;
  }

  /* styles for the custom menu title */
  .menu-title {
    padding: 15px;
    color: black; /* Set the title color */
    font-weight: bold;
  }

  /* Change the color of the navigation items in the hamburger menu */
  .nav-menu a {
    color: #0e3dc0; /* Change to your desired color */
    text-decoration: none;
  }

  .nav-item{
    margin: 16px 0;
  }

  /* appear from the right */
  .nav-menu.active{
    right: 0;
  }

  /* slider doesn't have arrows */
  .slider-container .slick-arrow {
    display: none;
  }
  
}

/* Background images for different screen sizes */
@media (max-width: 768px) {
  body {
    background-image: url('images/e-katanalotis_background.png');
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    background-image: url('images/e-katanalotis_background.png');
  }
}

@media (min-width: 1201px) {
  body {
    background-image: url('images/e-katanalotis_background.png');
  }
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Slick Slider styles */
.slider-container {
  margin: 20px auto; /* Adjust the margin as needed */
  max-width: 800px; /* Adjust the maximum width of the slider container */
}

.slider {
  display: block;
}

.slider img {
  max-width: 100%;
  height: auto;
}

/* Adjust the styling of the dots (pagination) */
.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.slick-dots li button {
  font-size: 0; /* Hide the dot's content */
  width: 20px; /* Adjust the dot's width */
  height: 20px; /* Adjust the dot's height */
  background: #999; /* Dot color */
  border: none;
  border-radius: 50%; /* Make it a circle */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

/* Change the background color of the dots on hover */
.slick-dots li button:hover {
  background-color: #777777; /* New background color on hover */
}

footer {
  font-family: Open Sans, sans-serif;
  font-size: .875rem;
  margin: auto;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #525f7f;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  flex-shrink: 0;
}