/* Styles for product container */
.product-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Styles for product header */
.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* items in the product container have a border that leaves space for the shadow */
.product-container li {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin between product items */
}

/* Styles for individual product */
.product {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Styles for product images */
.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    padding-left: 1rem;
}

/* Styles for product details container */
.product-details-container {
    flex: 1;
    padding-left: 10px;
}

/* Styles for product item */
.product-item {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Styles for offer text */
.offer-text {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

/* Styles for icon */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

/* Styles for the new info-container */
.info-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
}

/* Each product item levitates when hovered */
.product-item:hover {
    transform: translateY(-2px);
}

/* Styles for product buttons */
.likes-dislikes {
    align-items: l;
    text-align: left;
    padding-right: 2rem;
    position: relative;
    top: -0.5rem;
}

.likes-dislikes button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Add these styles to your existing CSS file */
.rating {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.like,
.dislike {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.dislike:hover,
.like:hover {
    color: #2EBDD1;
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.active {
    color: #2EBDD1;
}

/* Styles for in stock button */
.instock-button {
    margin-top: 0.4rem;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #2EBDD1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    pointer-events: auto !important;
}

.instock-button:hover {
    background-color: #1E8F9E;
}

/* Styles for out-of-stock product item */
.out-of-stock {
    opacity: 0.3; /* Grayed out appearance */
    pointer-events: none; /* Disable interactions */
    border-color: #ddd; /* Adjust the border color if desired */
    box-shadow: none; /* Remove shadow for out-of-stock */
}


.sticky-footer {
    position: sticky;
    top: 100%;
}

/* Styles for smaller screens (max-width: 768px) */
@media (max-width: 768px) {
    /* Rearrange product item for smaller screens */
    .product {
        flex-direction: column;
        align-items: center; /* Center-align items vertically */
        text-align: center; /* Center-align text */
    }

    /* Product image on top left */
    .product-image {
        width: 50%; /* Adjust the width as needed */
        height: auto;
        padding-left: 0;
    }

    /* Likes-Dislikes on top right */
    .likes-dislikes {
        position: relative;
        top: 0;
        right: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }

    /* Product details at the bottom with smaller font size */
    .product-details-container {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        font-size: 14px; /* Adjust the font size as needed */
        margin-top: 10px; /* Adjust the margin as needed */
    }

    /* inactive like/dislike buttons */
    .like,
    .dislike {
        margin: 5px;
    }

    /* inactive like/dislike buttons */

    .like,

    

}
