@import url("../style.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --mainColor: #47aeed;
    --whiteColor: #ffffff;
    --titleColor: #555555;
    --labelColor: #333333;
}

/* position of the forms */
.wrapper {
    position: absolute;
    top: 65%;   /* page centering */
    left: 57%;  /* page centering */
    transform: translate(-50%, -50%); /* page centering */
    width: 35rem;
    height: 50rem; /* wrapper height*/
}

@media(min-width:540px){
    .wrapper{
        width: 40rem;
    }
}

.wrapper .form-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%; /* background container size */
    height: 70%; /* background container size */
    background-color: var(--whiteColor);
    border-radius: .5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

/* title font related "Σύνδεση" */
.wrapper .form-container form h2 {
    font-size: 1.7rem;
    text-align: center;
    color: var(--titleColor);
}

/* Adjust the margin-top for the title "Εγγραφή" */
.wrapper .form-container.sign-up .signUpTitle {
    font-size: 1.7rem;
    text-align: center;
    color: var(--titleColor);
    margin-top: .5rem; /* Adjusted margin-top value */
}

/* Adjust the margin-bottom for the SignUp->SignIn question link */
.wrapper .form-container.sign-up .link {
    text-align: center;
    font-size: 0.8rem;
    color: var(--labelColor);
    margin: 0.8rem 0; /* Adjusted margin value */
}

/* form sizes */
.wrapper .form-container form .form-group {
    position: relative;
    width: 24rem; /* forms/buttons size */
    margin: 1rem 0;
}

/* in form characters */
.wrapper .form-container form .form-group i,
.wrapper .form-container form .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;  /* in form characters size */
    color: var(--labelColor);
    padding: 0 .5rem;
    pointer-events: none;
    transition: all .5s ease;
}

/* in form icons */
.wrapper .form-container form .form-group i {
    left: .5rem;
}

.wrapper .form-container form .form-group label {
    left: 2.5rem
}

/* form sizes */
.wrapper .form-container form .form-group input {
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    border: .1rem solid var(--labelColor);
    font-size: 1rem; /* user input size */
    color: var(--labelColor);
    background: transparent;
}

form .form-group input:focus~label,
form .form-group input:valid~label,
form .form-group input:focus~i,
form .form-group input:valid~i {
    top: 0 !important;
    font-size: 1.2rem !important;
    background-color: var(--whiteColor);
}

/* password requirment colors */
.completed {
    color: green;
}
/* password requirment colors */
.missing {
    color: red;
}

.wrapper .form-container form .forgot-pass a {
    color: var(--labelColor);
    text-decoration: none;
    font-size: 0.9rem; /* forgot password question size */
    padding-top: 1rem;
    transform: all .5s ease;
}

.wrapper .form-container form .forgot-pass a:hover {
    color: var(--mainColor);
}

/* main bottom buttons */
.wrapper .form-container form .btn {
    background: linear-gradient(to right, #c7deff, var(--mainColor));
    color: var(--whiteColor);
    text-transform: capitalize;
    width: 100%;
    height: 4rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.4);
}

/* under main buttons (redirection) */
/* Sign in question */
.wrapper .form-container form .link {
    text-align: center;
    font-size: 0.8rem;
    color: var(--labelColor);
    margin: 0.5rem 0;
}

.wrapper .form-container form .link a {
    text-transform: capitalize;
    color: var(--mainColor);
    text-decoration: none;
    font-weight: 600;
    transition: all .5s ease;
}

/* hover color change */
.wrapper .form-container form .link a:hover {
    color: #da4355;
}

.wrapper .sign-up {
    transform: rotate(7deg);
}

.wrapper.animated-signin .form-container.sign-in {
    animation: signin-flip 1s ease-in-out forwards;
}

@keyframes signin-flip {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.animated-signin .form-container.sign-up {
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.wrapper.animated-signup .form-container.sign-up {
    animation: signup-flip 1s ease-in-out forwards;
}

@keyframes signup-flip {
    0% {
        transform: translateX(0);
        z-index: 1;
    }

    50% {
        transform: translateX(50rem) scale(1.1);
    }

    100% {
        transform: translateX(0) rotate(7deg) scale(1);
    }
}

.wrapper.animated-signup .form-container.sign-in {
    transform: rotate(7deg);
    animation: rotatecard .7s ease-in-out forwards;
    animation-delay: .3s;
}

@keyframes rotatecard {
    0% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0);
        z-index: 1;
    }
}

.password-warning {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: #ffcccc;
    border: 1px solid #ff5555;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

.password-warning i {
    color: #ff5555;
    margin-right: 5px;
}

.password-requirements-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.password-requirements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.requirement {
    margin: 5px 0;
    font-size: 14px;
}

/* style the toggle password button and 
position it inside the password form */
.form-group {
    position: relative;
    width: 32rem;
    margin: 3rem 0;
}

.form-group .toggle-password {
    position: absolute;
    top: 50%;
    right: .4rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--labelColor);
}

.form-group .toggle-password i.fas.fa-eye {
    position: relative; /* Change to relative positioning for the icon */
    margin-right: 5px; /* Adjust this value as needed */
    top: 5px; /* Adjust this value as needed to vertically align with the button */
}

/* Adjust the width of the password input field 
to accommodate the space for the eye button: */
.form-group input[type="password"] {
    width: calc(100% - 3.5rem); /* Adjusted width value */
}

/* media query for smaller screens */
@media (max-width: 768px) {
    .wrapper {
        top: 50%; /* Center vertically on smaller screens */
        transform: translate(-50%, -50%);
        width: 90%; /* Adjust width for smaller screens */
        height: auto; /* Allow height to adjust based on content */
    }

    .wrapper .form-container {
        width: 100%; /* Take full width on smaller screens */
        height: auto; /* Allow height to adjust based on content */
    }

    .wrapper .form-container form .form-group {
        width: 100%; /* Take full width on smaller screens */
    }
}
