/* Style for upload and delete buttons */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Add margin between button groups */
  align-items: center; /* Vertically center buttons */
}


.upload-button {
  background-color: #FF5733; /* Orange */
}

.delete-button {
  background-color: #3377FF; /* Blue */
}

/* Green */
.button-container:last-child .upload-button {
  background-color: #33FF33;
}

/* Style for the file input label (Επιλογή αρχείου) */
.choose-file-button {
  display: flex;
  justify-content: center;
  background-color: #339cff;
}

.upload-button,
.delete-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Add margin between buttons */
  width: 200px; /* Set a fixed width for all buttons */
  display: flex; /* Enable flex layout to center content */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

/*bouncing animation for the delete button*/
.upload-button:hover,
.delete-button:hover {
  animation: bounce 1s;
}

/* simpler bouncing animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


/* Add spacing and alignment for button text */
.upload-button i,
.delete-button i {
  margin-right: 10px; /* Add space between icon and text */
}


/* Styles for chart containers */
.graphs-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

/* Styles for chart titles */
.graphs-container h2 {
  font-size: 24px;
  color: #0e3dc0;
  margin-bottom: 10px;
}

/* Styles for chart labels and input fields */
.graphs-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.graphs-container input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
/* Styles for chart buttons */
.graphs-container .button-container {
  display: absolute; /* Display buttons horizontally */
}

.graphs-container button {
  background-color: #0e3dc0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.graphs-container button:hover {
  background-color: #6886ff;
}

/* Styles for chart canvas */
canvas {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

/* calendar stuff */


/* Leaderboard container styles */
.leaderboard-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Leaderboard title styles */
.leaderboard-container h2 {
  font-size: 32px;
  color: #0e3dc0;
  margin-bottom: 30px;
  display: inline-block;
}

/* leaderboard column title styles */
.leaderboard-container h5 {
  font-size: 18px;
  color: #101627;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Leaderboard header styles */
.leaderboard-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #0e3dc0;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboard-header .item {
  flex: 1;
  padding: 10px;
  background-color: #0e3dc0;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

/* Leaderboard list styles */
#leaderboard-list {
  list-style: none;
  padding: 0;
}

#leaderboard-list li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Create four equal columns */
  gap: 10px; /* Add space between columns */
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

/* Alternate row background color */
#leaderboard-list li:nth-child(even) {
  background-color: #f5f5f5;
}

/* Leaderboard item styles */
.column-item {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  padding: 8px;
  color: #333;
}

/* Hover effect for leaderboard rows */
#leaderboard-list li {
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#leaderboard-list li:hover {
  background-color: #7293ec;
  color: #fff;
  cursor: pointer;
  transform: scale(1.02); /* Increase size on hover */
}


/* Pagination styles */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .arrow {
  font-size: 24px;
  cursor: pointer;
  color: #0e3dc0;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.pagination .arrow:hover {
  transform: scale(1.2);
}

/* Styles for the refresh button */
#refresh-button {
  background-color: #0e3dc0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

#refresh-button:hover {
  background-color: #6886ff;
}

.sticky-footer {
  position: sticky;
  top: 100%;
}