/* Style for upload and delete buttons */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Add margin between button groups */
  align-items: center; /* Vertically center buttons */
}


.upload-button {
  background-color: #3377FF;  /* Orange */
}

.delete-button {
  background-color: #FF5733; /* Blue */
}

/* Green */
.button-container:last-child .upload-button {
  background-color: #33FF33;
}

.file-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* Style for the file input label (Επιλογή αρχείου) */
.choose-file-button {
  display: inline-block;
  background-color: #339cff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto; /* Let the width adjust to content */
}

/* Add a hover effect for the button */
.choose-file-button:hover {
  background-color: #4fa2ff; /* Adjust the color on hover */
}

.upload-button,
.delete-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Add margin between buttons */
  width: 200px; /* Set a fixed width for all buttons */
  display: flex; /* Enable flex layout to center content */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

/*bouncing animation for the delete button*/
.upload-button:hover,
.delete-button:hover {
  animation: bounce 1s;
}

/* simpler bouncing animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


/* Add spacing and alignment for button text */
.upload-button i,
.delete-button i {
  margin-right: 10px; /* Add space between icon and text */
}


/* Style for graph containers */
.graphs-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for graph container titles */
.graphs-container h2 {
  font-size: 24px;
  color: #0e3dc0; /* Text color (adjust to your preference) */
  margin-bottom: 10px;
  text-align: center; /* Center-align the title */
  background-color: #f0f0f0; /* Background color (adjust to your preference) */
  padding: 10px; /* Add some padding for spacing */
  border-radius: 5px; /* Rounded corners */
  font-family: Arial, sans-serif; /* Choose your preferred font family */
}



.graphs-container label {
  font-size: 16px;
  margin-right: 10px;
}

.graphs-container select,
.graphs-container input[type="month"] {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.graphs-container button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Center-align the button */
.graphs-container button {
  display: block;
  margin: 0 auto;
}


.graphs-container button:hover {
  background-color: #6886ff;
}


/* Styles for chart canvas */
canvas {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

/* calendar stuff */
/* Style for the date picker input */
#datePicker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px; /* Adjust the font size */
  background-color: #fff; /* Background color (adjust to your preference) */
  color: #333; /* Text color (adjust to your preference) */
}



/* Style for the "Create Graph" button */
#generate-graph-button {
  background-color: #0e3dc0; /* Button background color (adjust to your preference) */
  color: #fff; /* Button text color (adjust to your preference) */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px; /* Adjust the font size */
  margin-top: 10px; /* Add margin to separate it from the date picker */
}

/* Add hover effect for the button */
#generate-graph-button:hover {
  background-color: #6886ff; /* Adjust the color on hover */
}


/* Leaderboard container styles */
.leaderboard-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Leaderboard title styles */
.leaderboard-container h2 {
  font-size: 32px;
  color: #0e3dc0;
  margin-bottom: 30px;
  display: inline-block;
}

/* leaderboard column title styles */
.leaderboard-container h5 {
  font-size: 18px;
  color: #101627;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Leaderboard header styles */
.leaderboard-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #0e3dc0;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboard-header .item {
  flex: 1;
  padding: 10px;
  background-color: #0e3dc0;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

/* Leaderboard list styles */
#leaderboard-list {
  list-style: none;
  padding: 0;
}

#leaderboard-list li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Create four equal columns */
  gap: 10px; /* Add space between columns */
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

/* Alternate row background color */
#leaderboard-list li:nth-child(even) {
  background-color: #f5f5f5;
}

/* Leaderboard item styles */
.column-item {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  padding: 8px;
  color: #333;
}

/* Hover effect for leaderboard rows */
#leaderboard-list li {
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#leaderboard-list li:hover {
  background-color: #7293ec;
  color: #fff;
  cursor: pointer;
  transform: scale(1.02); /* Increase size on hover */
}


/* Pagination styles */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .arrow {
  font-size: 24px;
  cursor: pointer;
  color: #0e3dc0;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.pagination .arrow:hover {
  transform: scale(1.2);
}

/* Styles for the refresh button */
#refresh-button {
  background-color: #0e3dc0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

#refresh-button:hover {
  background-color: #6886ff;
}

.sticky-footer {
  position: sticky;
  top: 100%;
}

/* Styles for screens smaller than 768px (e.g., smartphones) */
@media (max-width: 768px) {
  /* Adjust the header styles for smaller screens */
  .header-text {
    text-align: center; /* Center-align the header text */
  }

  /* Center-align the navigation menu */
  .nav-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  /* Adjust styles for individual navigation items */
  .nav-item {
    margin-bottom: 10px;
  }

  /* Add styles for the hamburger menu icon */
  .hamburger {
    display: block; /* Show the hamburger menu icon */
    margin: 20px auto; /* Center-align the icon */
  }

  /* Adjust the leaderboard container styles for smaller screens */
  .leaderboard-container {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  /* Adjust styles for the leaderboard list items */
  #leaderboard-list li {
    grid-template-columns: 1fr; /* Display a single column on smaller screens */
  }

  /* Center-align leaderboard header */
  .leaderboard-header {
    text-align: center;
    grid-template-columns: 1fr; /* Display a single column on smaller screens */
  }

  /* Adjust the styles for the pagination */
  .pagination {
    text-align: center;
  }

  /* buttons inside the button container  are all the same size */
  .button-container button {
    width: 100%;
    height: 100px;
  }
   
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.popup-content {
  background-color: #fff;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto; /* Center horizontally */
  top: 50%; /* Move down by 50% of the container height */
  transform: translateY(-50%); /* Correct for vertical positioning */
}


.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
