/* Style for upload and delete buttons */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Add margin between button groups */
  align-items: center; /* Vertically center buttons */
}


.upload-button {
  background-color: #FF5733; /* Orange */
}

.delete-button {
  background-color: #3377FF; /* Blue */
}

/* Green */
.button-container:last-child .upload-button {
  background-color: #33FF33;
}

/* Style for the file input label (Επιλογή αρχείου) */
.choose-file-button {
  display: flex;
  justify-content: center;
  background-color: #339cff;
}

.upload-button,
.delete-button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Add margin between buttons */
  width: 200px; /* Set a fixed width for all buttons */
  display: flex; /* Enable flex layout to center content */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

/*bouncing animation for the delete button*/
.upload-button:hover,
.delete-button:hover {
  animation: bounce 1s;
}

/* simpler bouncing animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


/* Add spacing and alignment for button text */
.upload-button i,
.delete-button i {
  margin-right: 10px; /* Add space between icon and text */
}


/* Styles for chart containers */
.graphs-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

/* Styles for chart titles */
.graphs-container h2 {
  font-size: 24px;
  color: #0e3dc0;
  margin-bottom: 10px;
}

/* Styles for chart labels and input fields */
.graphs-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.graphs-container input[type="number"],
.graphs-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Styles for chart buttons */
.graphs-container .button-container {
  display: absolute; /* Display buttons horizontally */
}

.graphs-container button {
  background-color: #0e3dc0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.graphs-container button:hover {
  background-color: #6886ff;
}

/* Styles for chart canvas */
canvas {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

/* Styles for leaderboard container */
.leaderboard-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

/* Leaderboard header styles */
.leaderboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.leaderboard-header .item {
  flex: 1;
  padding: 10px;
  background-color: #0e3dc0;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

/* Leaderboard list styles */
#leaderboard-list {
  list-style: none;
  padding: 0;
}

#leaderboard-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#leaderboard-list li:nth-child(even) {
  background-color: #e0e0e0;
}


/* Styles for leaderboard item user */
.item-user {
  flex: 1;
  padding: 2px;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

/* Styles for leaderboard item month tokens */
.item-month-tokens {
  flex: 1;
  padding: 10px;

  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

/* Styles for leaderboard item total tokens */
.item-tokens {
  flex: 1;
  padding: 10px;

  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

/* Styles for leaderboard item points */
.item-points {
  flex: 1;
  padding: 10px;

  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

/* Pagination styles */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .arrow {
  font-size: 24px;
  cursor: pointer;
  color: #0e3dc0;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.pagination .arrow:hover {
  transform: scale(1.2);
}

/* Styles for the refresh button */
#refresh-button {
  background-color: #0e3dc0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

#refresh-button:hover {
  background-color: #6886ff;
}

.sticky-footer {
  position: sticky;
  top: 100%;
}